@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');
@media (min-width: 1568px){
html{
    min-height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}
body {
    min-height: 100%;
}
main{
    margin:0 auto;
    width:68%;
}
html,body{
    margin:0;
}
ul,ol{
    list-style-type:0;
    list-style: none;
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6,figure,p{margin:0;}
img{vertical-align: top;}
a{text-decoration: none;}

*{
    box-sizing: border-box;
    font-size:16px;
    color:#dbdbdb;
    font-family:'Noto Sans KR';
}
h1{font-size:48px;
    text-align:center;
    text-transform:uppercase;
}
/*
 모든 문서 공통으로 들어감
 common.css (공통문서)
 */

 /* header  */
body{width:100%;}

header{
    z-index: 999;
    width:68%;
    margin:0 auto;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.head nav{
    display: none;
}
.head nav a{
    width:26px; height:14px;
    position:relative;
    display:inline-block;
    z-index:99;
}
.head a span{
    position:absolute;
    left:0; 
    width:100%; height:2px;
    background-color:#222;
    transition:0.5s;
}
.head > nav > a span:nth-child(1){
    top:0;
    
}
.head > nav > a span:nth-child(2){
    top:calc(50% - 1px);
    
}
.head > nav > a span:nth-child(3){
    bottom:0;  
}

/* hover  */

.head > nav > a:hover span:nth-child(1){
    top:calc(50% - 1px);
    transform: rotate(45deg);
}
.head > nav > a:hover span:nth-child(2){
    top:calc(50% - 1px);
    opacity:0;
}
.head > nav > a:hover span:nth-child(3){
    bottom:calc(50% - 1px);
    transform: rotate(-45deg);
}
.head nav div {
    position:fixed;
    flex-direction: column;
    display: none;

    left:16%; top:10%;
    width:20%;height:100%;
    background-color:#fff;
}
.head nav div a{
    color:#222;
    font-size:1.5rem;
    font-weight: bold;
    padding:0 0 15% 0;
}
.head > nav > a:hover + div{
    display:flex;
}
  
.h h1{
    font-size:35px;
    font-weight:bold;
    color:#222;
    text-align: center;   
}
.icon{
    display: flex;
    margin-top:12px;
}
.icon img{
    margin:5px;
}
.icon img:nth-of-type(1){
vertical-align: middle;
margin-top:1%;
}
.icon img:hover{
    opacity: 0.5;
}

nav a{
    vertical-align: top;
    margin-top:40px;
    margin-left:0;
    background-color:#fff;
}

.menu{
    display: flex;
    justify-content: space-between;
}
.menu .in{
    display:flex;
    justify-content: space-between;
    width:48%;
    
}
.menu .in a div{
    font-size:18px;
    font-weight:bold;
    color:#222;
}

.menu .in a div:hover:nth-of-type(1){
    color:blueviolet;
}
.menu .in a div:hover:nth-of-type(2){
    color:blueviolet;
}
.menu .ina div:hover:nth-of-type(3){
    color:blueviolet;
}
.bar{
    display: flex;
    margin: 0 0 0 auto;
}
.serch{
    background-color: #fff;
    border:solid 1px #dbdbdb;
    border-radius: 50px;
    width: 100%;
    height: 40px;
}
.menu label{
    color:#dbdbdb;
    margin-left:3%;
}
.serch input{
    outline:none;
    border: none;
    width:70%; height:80%;
    margin-top:1%;  
}
.serch input::placeholder{color:#dbdbdb;}
.serch input[type=text]:-ms-clear{display: none;}
.menu img{
    vertical-align: middle;
    padding:0 0 5px 35px;
}
 header {
    background:#fff;  
    padding:20px 16%;
    position:fixed;       
    width:100%;
}
 /* header  */

 /* footer  */
.footer{
    margin-top: 20%;
    padding:10px 16%;
    background-color: #222;
}
.ft{
    display:flex;
    justify-content:space-between;
    font-weight:lighter;
    vertical-align: top;
}
.f1{width:45%;}
.f1 div a{font-size: 0.8vw;}
.f1 div:nth-of-type(2){margin-top:23%; font-size: 0.8vw;}

.f2{width:25%;}
.f2 div a{font-size: 0.8vw;margin-top:2%;}
.f2 div span{font-size: 0.8vw;}
.f2 div p{font-size: 0.8vw;}
.f2 div figure{margin-top:2%;}
.f2 .img2{width:60%;}
.f2 div:nth-of-type(3){margin-top:40%;}

.f3{width:20%;}
.f3 div a{font-size: 0.8vw;}
.f3 div a span{font-size: 0.8vw;}
.f3 div:nth-of-type(2){margin-top:1%;}
.f3 div span:hover{
    color:#fff;
}

 /* footer  */
}
 

 @media (min-width: 1305px) and (max-width: 1567px){
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');
    html{
    min-height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    }
    body {
        min-height: 100%;
    }
    main{
        margin:0 auto;
        width:80%;
    }
    html,body{
        margin:0;
    }
    ul,ol{
        list-style-type:0;
        list-style: none;
        margin:0;
        padding:0;
    }
    h1,h2,h3,h4,h5,h6,figure,p{margin:0;}
    img{vertical-align: top;}
    a{text-decoration: none;}
    
    *{
        box-sizing: border-box;
        font-size:16px;
        color:#dbdbdb;
        font-family:'Noto Sans KR';
    }
    h1{font-size:48px;
        text-align:center;
        text-transform:uppercase;
    }
    /*
     모든 문서 공통으로 들어감
     common.css (공통문서)
     */
    
     /* header  */
     body{width:100%;}

     header{
         z-index: 999;
         width:80%;
         margin:0 auto;
     }
     .head{
         display: flex;
         justify-content: space-between;
         align-items:center;
     }
     .head nav{
         display: none;
     }
     .head nav a{
         width:26px; height:14px;
         position:relative;
         display:inline-block;
         z-index:99;
     }
     .head a span{
         position:absolute;
         left:0; 
         width:100%; height:2px;
         background-color:#222;
         transition:0.5s;
     }
     .head > nav > a span:nth-child(1){
         top:0;
         
     }
     .head > nav > a span:nth-child(2){
         top:calc(50% - 1px);
         
     }
     .head > nav > a span:nth-child(3){
         bottom:0;  
     }
     
     /* hover  */
     
     .head > nav > a:hover span:nth-child(1){
         top:calc(50% - 1px);
         transform: rotate(45deg);
     }
     .head > nav > a:hover span:nth-child(2){
         top:calc(50% - 1px);
         opacity:0;
     }
     .head > nav > a:hover span:nth-child(3){
         bottom:calc(50% - 1px);
         transform: rotate(-45deg);
     }
     .head nav div {
         position:fixed;
         flex-direction: column;
         display: none;
     
         left:16%; top:10%;
         width:20%;height:100%;
         background-color:#fff;
     }
     .head nav div a{
         color:#222;
         font-size:1.5rem;
         font-weight: bold;
         padding:0 0 15% 0;
     }
     .head > nav > a:hover + div{
         display:flex;
     }
       
     .h h1{
         font-size:35px;
         font-weight:bold;
         color:#222;
         text-align: center;   
     }
    .icon{
        display: flex;
        margin-top:12px;
    }
    .icon img{
        margin:5px;
    }
    .icon img:nth-of-type(1){
    vertical-align: middle;
    margin-top:1%;
    }
    .icon img:hover{
        opacity: 0.5;
    }
    
    nav a{
        vertical-align: top;
        margin-top:40px;
        margin-left:0;
        background-color:#fff;
    }
    
    .menu{
        display: flex;
        justify-content: space-between;
    }
    .menu .in{
        display:flex;
        justify-content: space-between;
        width:48%;
        
    }
    .menu .in a div{
        font-size:18px;
        font-weight:bold;
        color:#222;
    }
    
    .menu .in a div:hover:nth-of-type(1){
        color:blueviolet;
    }
    .menu .in a div:hover:nth-of-type(2){
        color:blueviolet;
    }
    .menu .ina div:hover:nth-of-type(3){
        color:blueviolet;
    }
    .bar{
        display: flex;
        margin: 0 0 0 auto;
    }
    .serch{
        background-color: #fff;
        border:solid 1px #dbdbdb;
        border-radius: 50px;
        width: 100%;
        height: 40px;
    }
    .menu label{
        color:#dbdbdb;
        margin-left:3%;
    }
    .serch input{
        outline:none;
        border: none;
        width:70%; height:80%;
        margin-top:1%;  
    }
    .serch input::placeholder{color:#dbdbdb;}
    .serch input[type=text]:-ms-clear{display: none;}
    .menu img{
        vertical-align: middle;
        padding:0 0 5px 40px;
    }
     header {
        background:#fff;  
        padding:20px 10%;
        position:fixed;       
        width:100%;
    }
     /* header  */
    
     /* footer  */
    .footer{
        margin-top: 20%;
        padding:10px 16%;
        background-color: #222;
    }
    .ft{
        display:flex;
        justify-content:space-between;
        font-weight:lighter;
        vertical-align: top;
    }
    .f1{width:45%;}
    .f1 div a{font-size: 0.8vw;}
    .f1 div:nth-of-type(2){margin-top:23%; font-size: 0.8vw;}
    
    .f2{width:25%;}
    .f2 div a{font-size: 0.8vw;margin-top:2%;}
    .f2 div span{font-size: 0.8vw;}
    .f2 div p{font-size: 0.8vw;}
    .f2 div figure{margin-top:2%;}
    .f2 .img2{width:60%;}
    .f2 div:nth-of-type(3){margin-top:40%;}
    
    .f3{width:20%;}
    .f3 div a{font-size: 0.8vw;}
    .f3 div a span{font-size: 0.8vw;}
    .f3 div:nth-of-type(2){margin-top:1%;}
    .f3 div span:hover{
        color:#fff;
    }
     /* footer  */
 }


 @media (min-width: 774px) and (max-width: 1304px){
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');
    html{
        min-height: 100%;
        margin: 0;
        scroll-behavior: smooth;
    }
    body {
        min-height: 100%;
    }
    main{
        margin:0 auto;
        width:90%;
    }
    html,body{
        margin:0;
    }
    ul,ol{
        list-style-type:0;
        list-style: none;
        margin:0;
        padding:0;
    }
    h1,h2,h3,h4,h5,h6,figure,p{margin:0;}
    img{vertical-align: top;}
    a{text-decoration: none;}
    
    *{
        box-sizing: border-box;
        font-size:16px;
        color:#dbdbdb;
        font-family:'Noto Sans KR';
    }
    h1{font-size:48px;
        text-align:center;
        text-transform:uppercase;
    }
    /*
     모든 문서 공통으로 들어감
     common.css (공통문서)
     */
    
     /* header  */
     body{width:100%;}

     header{
         z-index: 999;
         width:80%;
         margin:0 auto;
     }
     .head{
         display: flex;
         justify-content: space-between;
         align-items:center;
     }
     .head nav{
         display: none;
     }
     .head nav a{
         width:26px; height:14px;
         position:relative;
         display:inline-block;
         z-index:99;
     }
     .head a span{
         position:absolute;
         left:0; 
         width:100%; height:2px;
         background-color:#222;
         transition:0.5s;
     }
     .head > nav > a span:nth-child(1){
         top:0;
         
     }
     .head > nav > a span:nth-child(2){
         top:calc(50% - 1px);
         
     }
     .head > nav > a span:nth-child(3){
         bottom:0;  
     }
     
     /* hover  */
     
     .head > nav > a:hover span:nth-child(1){
         top:calc(50% - 1px);
         transform: rotate(45deg);
     }
     .head > nav > a:hover span:nth-child(2){
         top:calc(50% - 1px);
         opacity:0;
     }
     .head > nav > a:hover span:nth-child(3){
         bottom:calc(50% - 1px);
         transform: rotate(-45deg);
     }
     .head nav div {
         position:fixed;
         flex-direction: column;
         display: none;
     
         left:16%; top:10%;
         width:20%;height:100%;
         background-color:#fff;
     }
     .head nav div a{
         color:#222;
         font-size:1.5rem;
         font-weight: bold;
         padding:0 0 15% 0;
     }
     .head > nav > a:hover + div{
         display:flex;
     }
       
     .h h1{
         font-size:35px;
         font-weight:bold;
         color:#222;
         text-align: center;   
     }
    .icon{
        display: flex;
        margin-top:12px;
    }
    .icon img{
        margin:5px;
    }
    .icon img:nth-of-type(1){
    vertical-align: middle;
    margin-top:1%;
    }
    .icon img:hover{
        opacity: 0.5;
    }
    
    nav a{
        vertical-align: top;
        margin-top:40px;
        margin-left:0;
        background-color:#fff;
    }
    
    .menu{
        display: flex;
        justify-content: space-between;
    }
    .menu .in{
        display:flex;
        justify-content: space-between;
        width:48%;
        
    }
    .menu .in a div{
        font-size:18px;
        font-weight:bold;
        color:#222;
    }
    
    .menu .in a div:hover:nth-of-type(1){
        color:blueviolet;
    }
    .menu .in a div:hover:nth-of-type(2){
        color:blueviolet;
    }
    .menu .ina div:hover:nth-of-type(3){
        color:blueviolet;
    }
    .bar{
        display: flex;
        margin: 0 0 0 auto;
        width:30%;
    }
    .serch{
        background-color: #fff;
        border:solid 1px #dbdbdb;
        border-radius: 50px;
        width: 100%;
        height: 35px;
    }
    .menu label{
        color:#dbdbdb;
        margin-left:3%;
    }
    .serch input{
        outline:none;
        border: none;
        width:85%;
        margin-top:1%;  
    }
    .serch input::placeholder{color:#dbdbdb;}
    .serch input[type=text]:-ms-clear{display: none;}
    .menu img{
        vertical-align: middle;
        padding:0 0 2% 0;
        width:5%;
    }
     header {
        background:#fff;  
        padding:20px 5%;
        position:fixed;       
        width:100%;
    }
     /* header  */
    
     /* footer  */
    .footer{
        margin-top: 20%;
        padding:10px 16%;
        background-color: #222;
    }
    .ft{
        display:flex;
        justify-content:space-between;
        font-weight:lighter;
        vertical-align: top;
    }
    .f1{width:45%;}
    .f1 div a{font-size: 0.8vw;}
    .f1 div:nth-of-type(2){
        margin-top:23%;
        font-size: 0.8vw;
    }
    
    .f2{width:25%;}
    .f2 div a{font-size: 0.8vw;margin-top:2%;}
    .f2 div span{font-size: 0.8vw;}
    .f2 div p{font-size: 0.8vw;}
    .f2 div figure{margin-top:2%;}
    .f2 .img2{width:60%;}
    .f2 div:nth-of-type(3){margin-top:40%;}
    
    .f3{width:20%;}
    .f3 div a{font-size: 0.8vw;}
    .f3 div a span{font-size: 0.8vw;}
    .f3 div:nth-of-type(2){margin-top:1%;}
    .f3 div span:hover{
        color:#fff;
    }
     /* footer  */
}

 @media (max-width: 773px){
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');
    html{
        min-height: 100%;
        margin: 0;
        scroll-behavior: smooth;
    }
    body {
        min-height: 100%;
    }
    main{
        margin:0 auto;
        width:100%;
    }
    html,body{
        margin:0;
    }
    ul,ol{
        list-style-type:0;
        list-style: none;
        margin:0;
        padding:0;
    }
    h1,h2,h3,h4,h5,h6,figure,p{margin:0;}
    img{vertical-align: top;}
    a{text-decoration: none;}
    
    *{
        box-sizing: border-box;
        font-size:16px;
        color:#fff;
        font-family:'Noto Sans KR';
    }
    h1{font-size:48px;
        text-align:center;
        text-transform:uppercase;
    }
    /*
     모든 문서 공통으로 들어감
     common.css (공통문서)
     */
    
     /* header  */
     body{width:100%;}

     header{
         z-index: 999;
         width:100%;
         margin:0 auto;
     }
     .head{
         display: flex;
         justify-content: space-between;
         align-items:center;
     }
     .head nav{
         display: block;
         margin:0;
     }
     .head nav a{
         width:20px; height:12px;
         position:relative;
         display:inline-block;
         z-index:99;
     }
     .head a span{
         position:absolute;
         left:0; 
         width:100%; height:1px;
         background-color:#222;
         transition:0.5s;
     }
     .head > nav > a span:nth-child(1){
         top:0;
         
     }
     .head > nav > a span:nth-child(2){
         top:calc(50% - 1px);
         
     }
     .head > nav > a span:nth-child(3){
         bottom:0;  
     }
     
     /* hover  */
     
     .head > nav > a:hover span:nth-child(1){
         top:calc(50% - 1px);
         transform: rotate(45deg);
     }
     .head > nav > a:hover span:nth-child(2){
         top:calc(50% - 1px);
         opacity:0;
     }
     .head > nav > a:hover span:nth-child(3){
         bottom:calc(50% - 1px);
         transform: rotate(-45deg);
     }
     .head nav div {
         position:fixed;
         flex-direction: column;
         display: none;
     
         left:0%; top:5%;
         width:50%;height:100%;
         background-color:#fff;
     }
     .head nav div a{
         color:#222;
         font-size:18px;
         font-weight: bold;
         padding:5% 0 60px 3%;

     }
     .head > nav > a:hover + div{
         display:flex;
     }
       
     .h h1{
         font-size:20px;
         font-weight:bold;
         color:#222;
         text-align: center;
         margin-left:23%;   
     }
    .icon{
        display: flex;   
        justify-content: space-between; 
        margin-top:3%;   
    }
    .icon img{
        width:50%;      


    }
    .icon .ko{
    vertical-align: middle;
    margin-top:1%;
    display: none;
    }
    .icon .star{
        margin-left:10%;
    }
    .icon img:hover{
        opacity: 0.5;
    }
    
    nav a{
        vertical-align: top;
        margin-top:7px;
        margin-left:7px;
        background-color:#fff;
    }
    
    .menu{
        display: flex;
        justify-content: space-between;
        display: none;
    }
    .menu .in{
        display:flex;
        justify-content: space-between;
        width:48%;
        
    }
    .menu .in a div{
        font-size:18px;
        font-weight:bold;
        color:#222;
    }
    
    .menu .in a div:hover:nth-of-type(1){
        color:blueviolet;
    }
    .menu .in a div:hover:nth-of-type(2){
        color:blueviolet;
    }
    .menu .ina div:hover:nth-of-type(3){
        color:blueviolet;
    }
    .bar{
        display: flex;
        margin: 0 0 0 auto;
        width:30%;
    }
    .serch{
        background-color: #fff;
        border:solid 1px #dbdbdb;
        border-radius: 50px;
        width: 100%;
        height: 35px;
    }
    .menu label{
        color:#dbdbdb;
        margin-left:3%;
    }
    .serch input{
        outline:none;
        border: none;
        width:85%;
        margin-top:1%;  
    }
    .serch input::placeholder{color:#dbdbdb;}
    .serch input[type=text]:-ms-clear{display: none;}
    .menu img{
        vertical-align: middle;
        padding:0 0 2% 0;
        width:5%;
    }
     header {
        background:#fff;  
        padding:0% 0%;
        position:fixed;       
        width:100%;
    }
     /* header  */
    
     /* footer  */
    .footer{
        margin-top: 20%;
        padding:10px 5%;
        background-color: #222;
    }
    .ft{
        font-weight:lighter;
        vertical-align: top;
    }
    .f1{width:100%;text-align: center;}
    .f1 div a{font-size: 9px;}
    .f1 div:nth-of-type(2){
        margin-top:3%;
        font-size: 9px;
    }
    
    .f2{width:100%; text-align: center;}
    .f2 div a{font-size: 12px;margin-top:2%;}
    .f2 div span{font-size: 12px;}
    .f2 div p{font-size: 9px;}
    .f2 div figure{margin-top:2%;}
    .f2 .img2{width:40%;}
    .f2 div:nth-of-type(1){display: none;}
    .f2 div:nth-of-type(2){display: none;}
    .f2 div:nth-of-type(3){margin-top:5%;text-align: center;}
    
    .f3{
        width:20%;
        display: none;
    }
    .f3 div a{font-size: 0.8vw;}
    .f3 div a span{font-size: 0.8vw;}
    .f3 div:nth-of-type(2){margin-top:1%;}
    .f3 div span:hover{
        color:#fff;
    }
     /* footer  */
 }
 