@charset "utf-8";
@import url('common.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');
@media (min-width: 1568px){
.a1{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:0 auto;
    width:100%;
}
.a1-sub{
    position: relative;
    display:flex;
}
.a1-sub img{
    width:100%;
    margin-top:30%;
}


.a1-sub img:hover{
    opacity: .8;
}
.a1 span:nth-of-type(1){
    position: absolute;
    color:#fff;
    font-size: 3vw;

    font-weight: bold;
    left:3%; bottom:34px;
}


.a2 {
    display:block;
    margin: 0% 0;
    margin-top:15%;
}
.a2-sub{
    position:relative;
    overflow:hidden;
}
.a2-sub img{
    float:right;
    width:65%;
    transition: 1.5s;
    opacity: 0;
    transform: translateY(200px);
}
.a2-sub img.active{
    opacity: 1;
    transform: translateY(0px);
}
.a2-sub p{
    position:absolute;
    left:0%; top:50%;
    transform: translateY(-55%);
}
.a2-sub p span:nth-of-type(1){
    font-size:6vw;
    line-height:1;
    font-weight:bold;
    color:#222;
    transform: translateX(-200px);
    display: block;
    transition: 1.5s;
    opacity: 0;
}
.a2-sub p span:nth-of-type(1).active{
    transform: translateX(0px);
    opacity: 1;
}
.a2-sub p span:nth-of-type(2){
    display:block;
    font-size:3vw;
    color:#222;
    margin-top:10%;
    transform: translateX(-200px);
    display: block;
    transition: 2s;
    opacity: 0;
}
.a2-sub p span:nth-of-type(2).active{
    transform: translateX(0px);
    opacity: 1;
}

.a3{
    position: relative;
    margin:90px 0;
}

.sp1{margin:0 -5%;}

.slide-1{position: relative;}
.slide-1 .sp1{
    position:absolute;
    left:0; bottom:30px;
    color:#fff;
    font-size:1.5vw;
    opacity:0;
    transition:.5s;
    text-align:center;
    width:100%;
}
.slide-1:hover .sp1{
    opacity: 1;
    text-shadow: 3px 3px 1px rgba(19, 19, 19, 0.6);
    transform: translate(-5px, -5px);
}


.a3-sub-btn{
    position:absolute; 
    width:100%;
    left:0%; top:40%;
    transform: translateY(-50%);
    display:flex;
    justify-content: space-between;
    pointer-events: none;
}
.a3-sub-btn a{
    text-align: center;
    display:inline-block;
    pointer-events: fill;
    cursor: pointer;
    
    
}

.shoping{
    text-align: center; 
}
.shoping a{  
    margin:0 auto;
    text-align: center;
    display:inline-block;
    color:#fff;      
    font-size:1.5vw;
    background-color:#222; 
    padding:.5% 5%; margin-top:60px;
    border-radius: 35px;    
}
.shoping a:hover{
    background-color:rgb(138, 43, 226); 
    border-radius: 35px;    
}
.a4 {
    display:block;
    margin: 50px 0 0 0;
}
.a4-sub{
    position:relative;
    overflow:hidden;
}
.a4-sub img{
    float:left;
    width:65%;
    opacity: 0;
    transform: translateY(200px);
    transition: 1.5s;
}
.a4-sub img.active{
    opacity: 1;
    transform: translateY(0);
}
.a4-sub p{
    position:absolute;
    left:56%; top:50%;
    transform: translateY(-55%);
}
.a4-sub p span:nth-of-type(1){
    font-size:6vw;
    line-height:1;
    font-weight:bold;
    color:#222;
    display: block;
    transition: 1.5s;
    opacity: 0;
    transform: translateX(200px);
}
.a4-sub p span:nth-of-type(1).active{
    opacity: 1;
    transform: translateX(0);
}
.a4-sub p span:nth-of-type(2){
    display:block;
    font-size:3vw;
    color:#222;
    margin-top:10%;
    display: block;
    transition: 2s;
    opacity: 0;
    transform: translateX(200px);
}
.a4-sub p span:nth-of-type(2).active{
    opacity: 1;
    transform: translateX(0);
}
.a5{
    position: relative;
    margin:90px 0;
}
.slide .items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a5-sub{position: relative;}
.a5-sub img{
    width:100%;
    margin:0 0px;
    display: block;
}
/* .a5 .i-04{padding:0 10% 0 10%;} */
/* .slide-1 .sp4{
    position:absolute;
    left:0; bottom:50%;
    transform:translateY(50%);
    color:#fff;
    font-size:3vw;
    opacity:0;
    transition:1s;
    text-align:center;
    width:100%;
} */
/* .slide-1:hover .sp4{opacity: 1;} */

.sp4{
margin:0 0 12% -7%;
}

.a5-sub-btn{
    position:absolute; width:100%;
    left:0; top:40%;
    transform: translateY(-50%);
    display:flex;
    justify-content: space-between;
    pointer-events: none;
}
.a5-sub-btn a{
    display:inline-block;
    pointer-events: fill;
    cursor: pointer;
    
}
.a5-sub-btn a:nth-of-type(1){transform: translateX(-200%);}
.a5-sub-btn a:nth-of-type(2){transform: translateX(200%);}

.us{
    display: flex;
    justify-content: space-between;
}
.bbb{
    font-weight:bold;
    color:#222;
    display: block;
}
.s1{
    font-size:14px;
    color:#222;
}
.s2{
    font-size:14px;
    font-weight:bold;
    color:#222;
    text-align: right;
}


.a6 h2 {
    font-size:7vw;
    font-weight:bold;
    color:#222;
    width:100%;
}
.a6-sub{
    flex-wrap: wrap;
    display: flex;
    justify-content:space-between; 
    width:100%;
}

.a6-sub img{
    margin-top:100px;
    width: 100%;
}
.a6-sub > div{ 
    flex-shrink: 0;
    width:23%;
}
.a6-sub > div:nth-of-type(1){
    opacity: 0;
    transform: translateY(200px);
    transition: 1.5s;
} 
.a6-sub > div:nth-of-type(1).active{
    opacity: 1;
    transform: translateY(0px);
} 
.a6-sub > div:nth-of-type(2){
    opacity: 0;
    transform: translateY(-200px);
    transition: 1.5s;
} 
.a6-sub > div:nth-of-type(2).active{
    opacity: 1;
    transform: translateY(0px);
} 
.a6-sub > div:nth-of-type(3){
    opacity: 0;
    transform: translateY(200px);
    transition: 1.5s;
} 
.a6-sub > div:nth-of-type(3).active{
    opacity: 1;
    transform: translateY(0px);
} 
.a6-sub > div:nth-of-type(4){
    opacity: 0;
    transform: translateY(-200px);
    transition: 1.5s;
} 
.a6-sub > div:nth-of-type(4).active{
    opacity: 1;
    transform: translateY(0px);
} 

.st1 img{
    transition:.5s;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.6);
}
.st1 img:hover{
    box-shadow: 10px 10px 5px rgba(0,0,0,0.6);
    transform: translate(-20px, -20px);
}

.tx{
margin-bottom: -20%;
}


.st1 big{
    font-size:3rem;
    color:#222;
    font-weight:normal;
    
}
.st1 span{
    font-size:0.7vw;
    color:#222;
    
}

.st2{
    margin-top:10%;
    /* width:23% */
}
.st2 img{
    transition:.5s;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.6);
}
.st2 img:hover{
    box-shadow: 10px 10px 5px rgba(0,0,0,0.6);
    transform: translate(-20px, -20px);
}
.st2 big{
    font-size:3rem;
    color:#222;
    font-weight:normal;
    
}
.st2 span{
    font-size:0.7vw;
    color:#222;
}

.st3{
    /* width:23% */
}
.st3 img{
    transition:.5s;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.6);
}
.st3 img:hover{
    box-shadow: 10px 10px 5px rgba(0,0,0,0.6);
    transform: translate(-20px, -20px);
}
.st3 big{
    font-weight:300;
    font-size:3rem;
    color:#222;
    font-weight:normal;
    
}
.st3 span{
    font-size:0.7vw;
    color:#222;
}

.st4{
    margin-top:10%;
    /* width:23% */
}
.st4 img{
    transition:.5s;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.6);
}
.st4 img:hover{
    box-shadow: 10px 10px 5px rgba(0,0,0,0.6);
    transform: translate(-20px, -20px);
}
.st4 big{
    font-weight:300;
    font-size:3rem;
    color:#222;
    font-weight:normal;
    
}
.st4 span{
    font-size:0.7vw;
    color:#222;
}
.st5{
    text-align: center;
    margin-top:10%;
}
.st5 a{
    cursor: pointer;
}

}

@media (min-width: 1305px) and (max-width: 1567px){
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');
.a1{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:0 auto;
    width:100%;
}
.a1-sub{
    position: relative;
    display:flex;
}
.a1-sub img{
    width:100%;
    margin-top:40%;
}
.a1-sub .i-01{
    padding-right: 2%;
}
.a1-sub .i-02{
    padding-left: 2%;
}

.a1-sub img:hover{
    opacity: .8;
}
.a1 span{
    position: absolute;
    color:#fff;
    font-size: 3vw;
    font-weight: bold;
    left:8%; bottom:34px;
}


.a2 {
    display:block;
    margin: 0% 0;
    margin-top:15%;
}
.a2-sub{
    position:relative;
    overflow:hidden;
}
.a2-sub img{
    float:right;
    width:65%;
}
.a2-sub p{
    position:absolute;
    left:6%; top:50%;
    transform: translateY(-55%);
}
.a2-sub p span:nth-of-type(1){
    font-size:6vw;
    line-height:1;
    font-weight:bold;
    color:#222;
}
.a2-sub p span:nth-of-type(2){
    display:block;
    font-size:3vw;
    color:#222;
    margin-top:10%;
}

.a3{
    position: relative;
    margin:90px 0;
}
.slide{
    overflow: hidden;
    
}
.slide .items{
    display: flex;
    align-items: center;
    animation:a4 20s infinite;
    transform:translateX(0%);
}
.items figure{
    margin:20px 0;
    width:440px;
    /* display:flex; */
    /* justify-content: flex-start; */
     flex-shrink:0;
     padding-right: 6%;
    
}
.items figure img{
    width:100%; 
    box-shadow: 0px 0px 0px rgba(0,0,0,0.6);
    transition:.5s;
}
.items figure:hover img{
    box-shadow: 10px 10px 5px rgba(0,0,0,0.6);
    transform: translate(-20px, -20px);
}

.a3-sub{position: relative;}
.a3-sub img{
    width:100%;
    height: 100%;
    margin:0 0px;
    display: block;
}
.a3-sub .sp1{margin:0 -12%;}
.a3-sub .sp2{margin:0 -12%;}
.a3-sub .sp3{margin:0 -12%;}

.a3-sub span{
    position:absolute;
    left:0; bottom:30px;
    color:#fff;
    font-size:2vw;
    opacity:0;
    transition:1s;
    text-align:center;
    width:100%;
}
.a3-sub:hover span{opacity: 1;}


.a3-sub-btn{
    position:absolute; width:100%;
    left:0; top:40%;
    transform: translateY(-50%);
    display:flex;
    justify-content: space-between;
    pointer-events: none;
}
.a3-sub-btn a{
    display:inline-block;
    pointer-events: fill;
    
}
.a3-sub-btn a:nth-of-type(1){transform: translateX(-200%);}
.a3-sub-btn a:nth-of-type(2){transform: translateX(200%);}

.shoping{
    text-align: center; 
}
.shoping a{  
    display:inline-block;
    color:#fff;      
    font-size:1.5vw;
    background-color:#222; 
    padding:1% 1%; margin-top:40px;
    border-radius: 35px;      
}
.shoping a:hover{
    background-color:rgb(138, 43, 226); 
    border-radius: 35px;    
}
.a4 {
    display:block;
    margin: 0% 0;
}
.a4-sub{
    position:relative;
    overflow:hidden;
}
.a4-sub img{
    float:left;
    width:65%;
}
.a4-sub p{
    position:absolute;
    left:56%; top:50%;
    transform: translateY(-55%);
}
.a4-sub p span:nth-of-type(1){
    font-size:6vw;
    line-height:1;
    font-weight:bold;
    color:#222;
}
.a4-sub p span:nth-of-type(2){
    display:block;
    font-size:3vw;
    color:#222;
    margin-top:10%;
}
.a5{
    position: relative;
    margin:90px 0;
}
.slide .items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a5-sub{position: relative;}
.a5-sub img{
    width:100%;
    margin:0 0px;
    display: block;
}
/* .a5 .i-04{padding:0 10% 0 10%;} */
.a5-sub span{
    position:absolute;
    left:0; bottom:50%;
    transform:translateY(50%);
    color:#fff;
    font-size:3vw;
    opacity:0;
    transition:1s;
    text-align:center;
    width:100%;
}
.a5-sub:hover span{opacity: 1;}

.a5-sub .sp4{margin:0 -12% 5% -12%;}
.a5-sub .sp5{margin:0 -12% 5% -12%;}
.a5-sub .sp6{margin:0 -12% 5% -12%;}

.a5-sub-btn{
    position:absolute; width:100%;
    left:0; top:40%;
    transform: translateY(-50%);
    display:flex;
    justify-content: space-between;
    pointer-events: none;
}
.a5-sub-btn a{
    display:inline-block;
    pointer-events: fill;
    
}
.a5-sub-btn a:nth-of-type(1){transform: translateX(-200%);}
.a5-sub-btn a:nth-of-type(2){transform: translateX(200%);}

.a6 h2 {
    font-size:7vw;
    font-weight:bold;
    color:#222;
    width:100%;
}
.a6-sub{
    display: flex;
    justify-content:space-between; 
    width:100%;
}
.a6-sub img{
    margin-top:100px;
    width: 100%;
}


.st1{
    /* width:23% */
    
}
.st1 a img{
    transition:.5s;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.6);
}
.st1 a img:hover{
    box-shadow: 10px 10px 5px rgba(0,0,0,0.6);
    transform: translate(-20px, -20px);
}

.tx{
margin-bottom: -20%;
}


.st1 big{
    font-size:3rem;
    color:#222;
    font-weight:normal;
    
}
.st1 span{
    font-size:0.7vw;
    color:#222;
    
}

.st2{
    margin-top:10%;
    /* width:23% */
}
.st2 img{
    transition:.5s;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.6);
}
.st2 img:hover{
    box-shadow: 10px 10px 5px rgba(0,0,0,0.6);
    transform: translate(-20px, -20px);
}
.st2 big{
    font-size:3rem;
    color:#222;
    font-weight:normal;
    
}
.st2 span{
    font-size:0.7vw;
    color:#222;
}

.st3{
    /* width:23% */
}
.st3 img{
    transition:.5s;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.6);
}
.st3 img:hover{
    box-shadow: 10px 10px 5px rgba(0,0,0,0.6);
    transform: translate(-20px, -20px);
}
.st3 big{
    font-weight:300;
    font-size:3rem;
    color:#222;
    font-weight:normal;
    
}
.st3 span{
    font-size:0.7vw;
    color:#222;
}

.st4{
    margin-top:10%;
    /* width:23% */
}
.st4 img{
    transition:.5s;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.6);
}
.st4 img:hover{
    box-shadow: 10px 10px 5px rgba(0,0,0,0.6);
    transform: translate(-20px, -20px);
}
.st4 big{
    font-weight:300;
    font-size:3rem;
    color:#222;
    font-weight:normal;
    
}
.st4 span{
    font-size:0.7vw;
    color:#222;
}
.st5{
    text-align: center;
    margin-top:10%;
}
}

@media (min-width: 774px) and (max-width: 1304px){
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');
    .a1{
        display:flex;
        justify-content:space-between;
        align-items:center;
        margin:0 auto;
        width:100%;
    }
    .a1-sub{
        position: relative;
        display:flex;
    }
    .a1-sub img{
        width:100%;
        margin-top:43%;
    }
    .a1-sub .i-01{
        padding-right: 2%;
    }
    .a1-sub .i-02{
        padding-left: 2%;
    }
    
    .a1-sub img:hover{
        opacity: .8;
    }
    .a1 span{
        position: absolute;
        color:#fff;
        font-size: 3vw;
        font-weight: bold;
        left:8%; bottom:34px;
    }
    
    
    .a2 {
        display:block;
        margin: 0% 0;
        margin-top:15%;
    }
    .a2-sub{
        position:relative;
        overflow:hidden;
    }
    .a2-sub img{
        float:right;
        width:65%;
    }
    .a2-sub p{
        position:absolute;
        left:9%; top:50%;
        transform: translateY(-55%);
    }
    .a2-sub p span:nth-of-type(1){
        font-size:6vw;
        line-height:1;
        font-weight:bold;
        color:#222;
    }
    .a2-sub p span:nth-of-type(2){
        display:block;
        font-size:3vw;
        color:#222;
        margin-top:10%;
    }
    
    .a3{
        position: relative;
        margin:90px 0;
    }
    .slide{
        overflow: hidden;
        
    }
    .slide .items{
        display: flex;
        align-items: center;
        animation:a4 20s infinite;
        transform:translateX(0%);
    }
    .items figure{
        margin:20px 0;
        width:300px;
        /* display:flex; */
        /* justify-content: flex-start; */
         flex-shrink:0;
         padding-right: 6%;
        
    }
    .items figure img{
        width:100%; 
        box-shadow: 0px 0px 0px rgba(0,0,0,0.6);
        transition:.5s;
    }
    .items figure:hover img{
        box-shadow: 10px 10px 5px rgba(0,0,0,0.6);
        transform: translate(-20px, -20px);
    }
    
     @keyframes a4{ 
        0%{transform:translateX(0%);}
        33%{transform:translateX(-93%);}
        66%{transform:translateX(-190%);}
        100%{transform:translateX(-290%);}
    } 
    
    .a3-sub{position: relative;}
    .a3-sub img{
        width:100%;
        height: 100%;
        margin:0 0px;
        display: block;
    }
    .a3-sub .sp1{margin:0 -14%;}
    .a3-sub .sp2{margin:0 -14%;}
    .a3-sub .sp3{margin:0 -14%;}
    
    .a3-sub span{
        position:absolute;
        left:0; bottom:30px;
        color:#fff;
        font-size:2vw;
        opacity:0;
        transition:1s;
        text-align:center;
        width:100%;
    }
    .a3-sub:hover span{opacity: 1;}
    
    
    .a3-sub-btn{
        position:absolute; width:85%;
        left:0; top:40%;
        transform: translateY(-50%);
        display:flex;
        justify-content: space-between;
        pointer-events: none;
        margin-left:7.5%;
    }
    .a3-sub-btn a{
        display:inline-block;
        pointer-events: fill;
        
    }
    .a3-sub-btn a:nth-of-type(1){transform: translateX(-200%);}
    .a3-sub-btn a:nth-of-type(2){transform: translateX(200%);}
    
    .shoping{
        text-align: center; 
    }
    .shoping a{  
        display:inline-block;
        color:#fff;      
        font-size:1.5vw;
        background-color:#222; 
        padding:1% 1%; margin-top:40px;
        border-radius: 35px;      
    }
    .shoping a:hover{
        background-color:rgb(138, 43, 226); 
        border-radius: 35px;    
    }
    .a4 {
        display:block;
        margin: 0% 0;
    }
    .a4-sub{
        position:relative;
        overflow:hidden;
    }
    .a4-sub img{
        float:left;
        width:65%;
    }
    .a4-sub p{
        position:absolute;
        left:56%; top:50%;
        transform: translateY(-55%);
    }
    .a4-sub p span:nth-of-type(1){
        font-size:6vw;
        line-height:1;
        font-weight:bold;
        color:#222;
    }
    .a4-sub p span:nth-of-type(2){
        display:block;
        font-size:3vw;
        color:#222;
        margin-top:10%;
    }
    .a5{
        position: relative;
        margin:90px 0;
    }
    .slide .items{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .a5-sub{position: relative;}
    .a5-sub img{
        width:100%;
        margin:0 0px;
        display: block;
    }
    /* .a5 .i-04{padding:0 10% 0 10%;} */
    .a5-sub span{
        position:absolute;
        left:0; bottom:50%;
        transform:translateY(50%);
        color:#fff;
        font-size:3vw;
        opacity:0;
        transition:1s;
        text-align:center;
        width:100%;
    }
    .a5-sub:hover span{opacity: 1;}
    
    .a5-sub .sp4{margin:0 -14% 5% -14%;}
    .a5-sub .sp5{margin:0 -14% 5% -14%;}
    .a5-sub .sp6{margin:0 -14% 5% -14%;}
    
    .a5-sub-btn{
        position:absolute; width:100%;
        left:0; top:40%;
        transform: translateY(-50%);
        display:flex;
        justify-content: space-between;
        pointer-events: none;
    }
    .a5-sub-btn a{
        display:inline-block;
        pointer-events: fill;
        
    }
    .a5-sub-btn a:nth-of-type(1){transform: translateX(-200%);}
    .a5-sub-btn a:nth-of-type(2){transform: translateX(200%);}
    
    .a6 h2 {
        font-size:7vw;
        font-weight:bold;
        color:#222;
        width:100%;
    }
    .a6-sub{
        display: flex;
        justify-content:space-between; 
        width:100%;
    }
    .a6-sub img{
        margin-top:100px;
        width: 100%;
    }
    .st1{
        width:23%
    }
    .st1 img{
        transition:.5s;
        box-shadow: 0px 0px 0px rgba(0,0,0,0.6);
    }
    .st1 img:hover{
        box-shadow: 10px 10px 5px rgba(0,0,0,0.6);
        transform: translate(-20px, -20px);
    }
    
    .tx{
    margin-bottom: -20%;
    }
    
    
    .st1 big{
        font-size:3rem;
        color:#222;
        font-weight:normal;
        
    }
    .st1 span{
        font-size:0.7vw;
        color:#222;
        
    }
    
    .st2{
        margin-top:10%;
        width:23%
    }
    .st2 img{
        transition:.5s;
        box-shadow: 0px 0px 0px rgba(0,0,0,0.6);
    }
    .st2 img:hover{
        box-shadow: 10px 10px 5px rgba(0,0,0,0.6);
        transform: translate(-20px, -20px);
    }
    .st2 big{
        font-size:3rem;
        color:#222;
        font-weight:normal;
        
    }
    .st2 span{
        font-size:0.7vw;
        color:#222;
    }
    
    .st3{
        width:23%
    }
    .st3 img{
        transition:.5s;
        box-shadow: 0px 0px 0px rgba(0,0,0,0.6);
    }
    .st3 img:hover{
        box-shadow: 10px 10px 5px rgba(0,0,0,0.6);
        transform: translate(-20px, -20px);
    }
    .st3 big{
        font-weight:300;
        font-size:3rem;
        color:#222;
        font-weight:normal;
        
    }
    .st3 span{
        font-size:0.7vw;
        color:#222;
    }
    
    .st4{
        margin-top:10%;
        width:23%
    }
    .st4 img{
        transition:.5s;
        box-shadow: 0px 0px 0px rgba(0,0,0,0.6);
    }
    .st4 img:hover{
        box-shadow: 10px 10px 5px rgba(0,0,0,0.6);
        transform: translate(-20px, -20px);
    }
    .st4 big{
        font-weight:300;
        font-size:3rem;
        color:#222;
        font-weight:normal;
        
    }
    .st4 span{
        font-size:0.7vw;
        color:#222;
    }
    .st5{
        text-align: center;
        margin-top:10%;
    }
    }

@media (max-width: 773px){
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');
    .a1{
        display:flex;
        justify-content:space-between;
        align-items:center;
        margin:0 auto;
        width:100%;
    }
    .a1-sub{
        position: relative;
        display:flex;
        text-align: center;
    }
    .a1-sub img{
        width:100%;
        margin-top:20%;
    }
    .a1-sub .i-01{
        padding-right: 0%;
    }
    .a1-sub .i-02{
        padding-left: 0%;
    }
    
    .a1-sub img:hover{
        opacity: .8;
    }
    .a1 span{
        position: absolute;
        color:#fff;
        font-size: 5vw;
        font-weight: bold;
        left:14%; bottom:15px;
        text-align: center;
    }
    
    
    .a2 {
        display:block;
        margin: 0% 0;
        margin-top:15%;
    }
    .a2-sub{
        position:relative;
        overflow:hidden;
    }
    .a2-sub img{
        
        text-align: center;
        width:100%;
    }
    .a2-sub p{
        position:absolute;
        left:5%; top:70%;
        transform: translateY(-55%);
    }
    .a2-sub p span:nth-of-type(1){
        font-size:10vw;
        line-height:1;
        font-weight:bold;
        color:solid #fff;
    }
    .a2-sub p span:nth-of-type(2){
        display:block;
        font-size:4vw;
        color:solid #fff;
        margin-top:5%;
    }
    
    .a3{
        position: relative;
        margin:0 0 90px 0;
    }
    .slide{
        overflow: hidden;
        
    }
    .slide .items{
        display: flex;
        align-items: center;
        animation:a4 20s infinite;
        transform:translateX(0%);
    }
    .items figure{
        margin:20px 0;
        width:300px;
        /* display:flex; */
        /* justify-content: flex-start; */
        flex-shrink:0;
        padding-right: 6%;
        
    }
    .a3-sub{position: relative;}
    .a3-sub img{
        width:100%;
        height: 100%;
        margin:0 0px;
        display: block;
    }
    .a3-sub .sp1{margin:0 -2%;}
    .a3-sub .sp2{margin:0 -2%;}
    .a3-sub .sp3{margin:0 -2%;}
    
    .a3-sub span{
        position:absolute;
        left:0; bottom:30px;
        color:#fff;
        font-size:6vw;
        /* opacity:0; */
        transition:1s;
        text-align:center;
        width:100%;
    }
    /* .a3-sub:hover span{opacity: 1;} */
    
    
    .a3-sub-btn{
        position:absolute;
        width:85%;
        margin-left:8%;
        left:0; top:40%;
        transform: translateY(-50%);
        display:flex;
        justify-content: space-between;
        pointer-events: none;
        display: none;
        
    }
    .a3-sub-btn img{width:50%;}
    .a3-sub-btn a{
        display:inline-block;
        pointer-events: fill;
    }
    .a3-sub-btn a:nth-of-type(1){transform: translateX(-200%);}
    .a3-sub-btn a:nth-of-type(2){transform: translateX(200%);}
    
    .shoping{
        text-align: center; 
    }
    .shoping a{  
        display:inline-block;
        color:#222;      
        font-size:1.5vw;
        border:1px solid#222;
        background-color:#fff; 
        padding:1% 5%; margin-top:40px;
        border-radius: 0; 
        width:32%;     
    }
    .shoping a:hover{
        background-color:rgb(138, 43, 226); 
        color:#fff;
        border:1px solid#fff;
        border-radius: 0;    
    }
    .a4 {
        display:block;
        margin: 0% 0;
    }
    .a4-sub{
        position:relative;
        overflow:hidden;
    }
    .a4-sub img{
        float:left;
        width:100%;
    }
    .a4-sub p{
        position:absolute;
        left:5%; top:70%;
        transform: translateY(-55%);
    }
    .a4-sub p span:nth-of-type(1){
        font-size:10vw;
        line-height:1;
        font-weight:bold;
        color:#222;
    }
    .a4-sub p span:nth-of-type(2){
        display:block;
        font-size:4vw;
        color:#222;
        margin-top:10%;
    }
    .a5{
        position: relative;
        margin:0 0 90px 0;
    }
    .slide .items{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .a5-sub{position: relative;}
    .a5-sub img{
        width:100%;
        margin:0 0px;
        display: block;
    }
    /* .a5 .i-04{padding:0 10% 0 10%;} */
    .a5-sub span{
        position:absolute;
        left:0; bottom:50%;
        transform:translateY(50%);
        color:#fff;
        font-size:7vw;
        /* opacity:0; */
        transition:1s;
        text-align:center;
        width:100%;
        display: none;
    }
    /* .a5-sub:hover span{opacity: 1;} */
    
    /* .a5-sub .sp4{{margin:0 -14% 5% -14%;} */
    /* .a5-sub .sp5{{margin:0 -14% 5% -14%;} */
    /* .a5-sub .sp6{{margin:0 -14% 5% -14%;} */
    
    .a5-sub-btn{
        position:absolute;
        width:85%;
        margin-left:8.5%;
        left:0; top:40%;
        transform: translateY(-50%);
        display:flex;
        justify-content: space-between;
        pointer-events: none;
        display: none;
    }
    .a5-sub-btn img{width:50%;}
    .a5-sub-btn a{
        display:inline-block;
        pointer-events: fill;
        
    }
    .a5-sub-btn a:nth-of-type(1){transform: translateX(-200%);}
    .a5-sub-btn a:nth-of-type(2){transform: translateX(200%);}

    .a6 h2 {
        font-size:7vw;
        font-weight:bold;
        color:#222;
        width:100%;
        text-align: center;
    }
    .a6-sub{
        display: flex;
        justify-content:space-between; 
        align-items: center;
        width:90%;
        margin:7% auto;
    }
    .a6-sub img{
        margin-top:10%;
        width: 100%;
    }
    .st1{
        width:47%;  
    }
    .st1 img{
        transition:.5s;
        box-shadow: 0px 0px 0px rgba(0,0,0,0.6);
    }
    .st1:hover img{
        box-shadow: 10px 10px 5px rgba(0,0,0,0.6);
        transform: translate(-10px, -10px);
    }
    
    .tx{
    margin:0%;
    position:relative;
    }
    
    
    .st1 img{
        margin:0 0 7% 0;
        overflow: hidden;
    }
    .st1 big{
        font-size:8vw;
        color:#222;
        font-weight:normal;  
    }
    .st1 .tx span{
        font-size:.7rem;
        color:#fff;
        position:absolute;
        bottom:150px;
        left:2%;
        width:70%; height: 50px;
        transition:.5s;
        opacity:0;
    }
    .st1:hover span{
        opacity: 1;
    }

    .st2{
        margin-top:0%;
        width:47%;
    }
    .st2 img{
        transition:.5s;
        box-shadow: 0px 0px 0px rgba(0,0,0,0.6);
    }
    .st2:hover img{
        box-shadow: 10px 10px 5px rgba(0,0,0,0.6);
        transform: translate(-10px, -10px);
    }
    .st2 .tx{margin-top:5%;}
    .st2 big{
        font-size:8vw;
        color:#222;
        font-weight:normal;  
    }
    .st2 .tx span{
        font-size:.8rem;
        color:#fff;
        position:absolute;
        top:80px;
        left:2%;
        width:70%;
        transition:.5s;
        opacity:0;
        z-index: 3;
    }
    .st2:hover span{
        opacity: 1;
    }
    
    .st3{
        width:24%;
        display: none;
    }
    .st3 big{
        font-weight:300;
        font-size:5vw;
        color:#222;
        font-weight:bold;       
    }
    .st3 span{
        font-size:0.7vw;
        color:#222;
    }
    
    .st4{
        margin-top:0%;
        width:24%;
        display: none;
    }
    .st4 big{
        font-weight:300;
        font-size:5vw;
        color:#222;
        font-weight:bold;
        
    }
    .st4 span{
        font-size:0.7vw;
        color:#222;
        width:100%;
    }
    .st5{
        text-align: center;
        margin-top:10%;
    }
    .st5 img{
        width:10%;
    }
}
